*
{
    padding: 0px;
    margin: 0px;
}
.logo
{
    background-color: aquamarine;
    text-align: center;
}
.menu
{
    color: aliceblue;
    background-color: #00cec9;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu span:hover{
    color: #e84393;
    cursor: pointer;
    font-size: 30px;
}
.menu span a:hover{
    color: #e84393;
    cursor: pointer;
    font-weight: 800px;
}
.header
{
    text-align: center;

}
.top{
    display: flex;
    justify-content: center;
}
.img
{
    width: 50px;
    border-radius: 50%;
}
.img:hover{
    cursor: pointer;
    opacity: 0.3;
}
.blue{color: rgb(33, 18, 131);}
.content{
    width: 75%;
    margin: auto;
}
.content_main
{
    display: flex;
    justify-content: center;
}
.nick1
{
    flex-basis: 60%;
    
    margin-bottom: 5px;
    margin-right: 5px;
    border:3px solid darkcyan;
    border-radius: 15px;

}
.nick2
{
    flex-basis: 30%;
    
    margin-bottom: 5px;
    margin-right: 5px;
    border:3px solid darkcyan;
    border-radius: 15px;
}.nick3
{
    flex-basis: 30%;
    margin-bottom: 5px;
    margin-right: 5px;
    border:3px solid darkcyan;
    border-radius: 15px;
}
.nick4
{
    flex-basis: 30%;
    margin-bottom: 5px;
    margin-right: 5px;
    border:3px solid darkcyan;
    border-radius: 15px;
}
.nick5
{
    flex-basis: 30%;
    margin-bottom: 5px;
    margin-right: 5px;
    border:3px solid darkcyan;
    border-radius: 15px;
}
.display
{
    display: flex;
    justify-content: center;
}
.buy
{
    color: white;
    width: 3cm;
    padding: 10px 0;
    background-color: darkcyan;
    text-align: center;
    border-radius: 10px ;
    margin-bottom: 5px;
}
.buy:hover{
    background-color: #e67e22;
    cursor: pointer;
}
.font{
    font-family: cursive;
}
.footer
{
    background-color: teal;
    color: pink;
    padding: 15px 0;
    text-align: center;
}
.nick1:hover{
    border:3px solid #be2edd;
}
.nick2:hover{
    border:3px solid #be2edd;
}
.nick3:hover{
    border:3px solid #be2edd;
}
.nick4:hover{
    border:3px solid #be2edd;
}
.nick5:hover{
    border:3px solid #be2edd;
}